.cart {
    background-color: lightpink;
    padding: 50px 20px;
    border-radius: 10px;
    position: sticky;
    top: 0px;

}

.cart h3 {
    text-align: center;
    text-decoration: underline;
}

.clear-cart-btn {
    color: white;
    background: #FF3030;
    height: 30px;
    width: 90%;
    margin: 30px auto;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content:space-between;
    padding: 0px 5px;

}